@font-face {
    src: url('segoeui.ttf');
    font-family: SegoeUI;
}
* {
    background-color: #eee;
    font-family: SegoeUI;
}
select {
    border-style: outset;
}
select:focus {
    border-style: inset;
}